.find {

}


.find__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding-bottom: 50px;

    @media (max-width: 575px) {
        
    }
        
    @media (min-width: 575px) {
            
    }
        
    @media (min-width: 768px) {
        margin-top: 105px;
        padding-bottom: 120px;

    }
        
    @media (min-width: 992px) {
             
    }
    
    @media (min-width: 1200px) {
            
    }

}

.find__heading {
    color: #2D3958;
    font-family: Outfit;
    font-weight: 500;
    line-height: 116.667%;
    padding: 15px 0px;
    text-align: center;
    font-size: 40px;
    
    @media (max-width: 575px) {
        
    }
        
    @media (min-width: 575px) {
            
    }
        
    @media (min-width: 768px) {
        font-size: 48px;
         
    }
        
    @media (min-width: 992px) {
             
    }
    
    @media (min-width: 1200px) {
            
    }

}

.find__heading--color {
    background: linear-gradient(224deg, #61DCDF 0%, #886CFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.find__sub {
    color: #7B88A8;
    font-family: Outfit;
    font-weight: 400;
    line-height: 145.455%;
    padding: 15px 0px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;

    @media (max-width: 575px) {
        
    }
        
    @media (min-width: 575px) {
            
    }
        
    @media (min-width: 768px) {
        margin-bottom: 75px;
        font-size: 22px;
         
    }
        
    @media (min-width: 992px) {
             
    }
    
    @media (min-width: 1200px) {
            
    }

}

.find__btn {
    border-radius: 5px;
    background-color: #4F77FF;
    padding: 16px 22px;
    font-size: 14px;

    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    transition: all 0.3s;
    
    @media (max-width: 575px) {
        
    }
    
    @media (min-width: 575px) {
        
    }
    
    @media (min-width: 768px) {
        padding: 18px 32px;
        font-size: 15px;
         
    }
        
    @media (min-width: 992px) {
             
    }
    
    @media (min-width: 1200px) {
            
    }

}

.find__btn:hover {
    cursor: pointer;
    background-color: #85a0fa;

}

