.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    width: 100%;

}

.header-content__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.header-content__heading {
    color: #2D3958;
    text-align: center;
    font-family: Outfit;
    font-size: 72px;
    font-weight: 500;
    line-height: 108.333%;
    max-width: 800px;
    padding: 20px 0px;
    

}

.header-content____heading--color {
    background: linear-gradient(224deg, #61DCDF 0%, #886CFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent

}

.header-content__sub {
    color: #7B88A8;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 155.556%;
    padding: 20px 0px;
    max-width: 626px;

}


// button
.header-content__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;

}

.header-content__book-now {
    padding: 18px 32px;
    border-radius: 5px;
    background-color: #4F77FF;

    color: #FFF;
    font-family: Outfit;
    font-size: 15px;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    transition: all 0.4s;

}

.header-content__book-now:hover {
    background-color: #85a0fa;
    cursor: pointer;
}

.header-content__play {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: #FFF;
    box-shadow: 0px 5px 20px rgba(18, 2, 47, 0.15);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #4F77FF;
    transition: all 0.2s;
    cursor: pointer;

}

.header-content__play:hover {
    box-shadow: 0px 10px 20px rgba(79, 119, 255, 0.5);
    
}

.header-content__text {
    color: #2D3958;
    font-family: Outfit;
    font-size: 15px;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;

}
