.portfolio {
    margin: 120px 0px;

}


.portfolio__heading {
    color: #2D3958;
    text-align: center;
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
    line-height: 119.048%;
    margin-bottom: 100px;

}

.portfolio__heading--color {
    background: linear-gradient(224deg, #61DCDF 0%, #886CFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.portfolio__img {

    @media (max-width: 575px) {
        
    }
        
    @media (min-width: 575px) {
            
    }
        
    @media (min-width: 768px) {
            
    }
        
    @media (min-width: 992px) {
            
    }
    
    @media (min-width: 1200px) {
        position: relative;
            
    }

}

.portfolio__item {
    margin-bottom: 20px;

}

.portfolio__item img{
    width: 100%;

}

.portfolio__name {
    color: #4F77FF;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 400;
    line-height: 145.455%;
    padding: 30px 0px;
    

}

.portfolio__decorate {
    width: 55px;
    height: 55px;
    background-color: #4F77FF;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-90%, -220%);

    display: none;

    @media (max-width: 575px) {
        
    }
        
    @media (min-width: 575px) {
      
    }
        
    @media (min-width: 768px) {
      
    }
        
    @media (min-width: 992px) {
            
    }
    
    @media (min-width: 1200px) {
        display: block;

    }

}
