.services {
    padding: 120px 0px;

}


.services__head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    margin-bottom: 80px;

}

.services__heading {
    color: #2D3958;
    font-family: Outfit;
    font-weight: 500;
    line-height: 116.667%;
    text-align: center;
    font-size: 38px;

    @media (max-width: 575px) {
        
    }
        
    @media (min-width: 575px) {
       
    }
        
    @media (min-width: 768px) {
      
    }
        
    @media (min-width: 992px) {
        font-size: 48px;
                
    }
    
    @media (min-width: 1200px) {
            
    }

}

.services__sub {
    color: #7B88A8;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 155.556%;
    text-align: center;

}


.services__content {
    position: relative;

}

.services__item {
    border-radius: 12px;
    border: 1px solid #E7E5EA;
    padding: 42px 46px 64px 46px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s;

}

.services__item:hover {
    box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.20);

}

.services__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;

}

.services__img {

}

.services__name {
    color: #120F1F;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 400;
    line-height: 145.455%;
    padding: 10px 0px;
    margin-top: 48px;

}

.services__text {
    color: #7B88A8;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;

}

.services__decorate {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(120%);

    width: 50px;
    height: 50px;
    background-color: #4F77FF;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

    display: none;

    @media (max-width: 575px) {
        
        
    }
        
    @media (min-width: 575px) {
      
            
    }
        
    @media (min-width: 768px) {
      
            
    }
        
    @media (min-width: 992px) {
            
            
    }
    
    @media (min-width: 1200px) {
        display: block;
            
    }

}


.services__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

}


.services__btn button {
    padding: 18px 32px;
    background-color: #4F77FF;
    color: #FFF;
    font-family: Outfit;
    font-size: 15px;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;

}

.services__btn button:hover {
    background-color: #85a0fa;

}